/ %h3 Home
/ - @users.each do |user|
/   %p
/     User: #{link_to user.name, user}
/ 
/ 
#content
  .gmaps
    .input-gmaps-autocomplete
      %input#gmaps-input-address
      %br/
      %br/
      #gmaps-error
    #gmaps-canvas