.row-fluid
  .span12
    %section.utopia-widget
      .utopia-widget-title
        %span Landlords
      .utopia-widget-content
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th
                %input.utopia-check-all{:type => "checkbox"}
              %th
                Name
              %th
                Address
              %th
                Phone
              %th
                Mobile
              %th
                Email
          %tbody
            %tr
              %td
                %input.chkbox{:type => "checkbox"}
        .utopia-table-action
          .btn-group
            adsa
          