.sidebar
  .nav-collapse.collapse.leftmenu
    %ul
      %li.current
        %a{:href => "#"}
          %span Dashboard
      %li
        %a{:href => "#"}
          %span Locations
      %li
        %a{:href => "#"}
          %span Landlords
      %li
        %a{:href => "#"}
          %span Clients

